gradio>=6.10.0
spaces>=0.41.0
numpy
tqdm
msgpack
nvidia-cublas-cu12>=12.4
nvidia-cuda-nvrtc-cu12>=12.4
nvidia-cuda-runtime-cu12>=12.4
sgl_kernel>=0.3.17.post1
descript-audio-codec==1.0.0
transformers>=4.56.0,<=4.57.3
huggingface_hub
pyzmq
apache-tvm-ffi>=0.1.4
nvidia-cutlass-dsl==4.3.1
flashinfer-cubin==0.5.3
flashinfer-python>=0.5.3
flashinfer-jit-cache @ https://github.com/flashinfer-ai/flashinfer/releases/download/v0.5.3/flashinfer_jit_cache-0.5.3+cu128-cp39-abi3-manylinux_2_28_x86_64.whl
ninja>=1.13.0
kernels>=0.12.1
pynini==2.1.6
sacremoses>=0.1.1
